{% extends 'base.html' %}
{% block title %}Update{% endblock title %}
{% block body %}    
<div class="container my-4 p-3 border rounded border-warning">
    <form action="/update/{{updateTask.sno}}" method="POST">
        <h2>Update ToDo</h2>
        <div class="mb-3">
          <label for="InputTitle" class="form-label">Task Title</label>
          <input type="text" class="form-control" name="title" id="InputTitle" aria-describedby="emailHelp" required value="{{updateTask.title}}">
        </div>
        <div class="mb-3">
          <label for="InputDesc" class="form-label">Task Description</label>
          <input type="text" class="form-control" name="description" id="InputDesc" required value="{{updateTask.description}}">
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Task Status</label>
            <select class="form-select" id="status" name="status" aria-label="select">
                <option selected value="{{updateTask.status}}">{{updateTask.status}}</option>
                <option value="Pending">Pending</option>
                <option value="Started">Started</option>
                <option value="Completed">Completed</option>
            </select>
        </div>
        <div class="container d-grid col-6">
            <button type="submit" class="btn btn-outline-warning mt-3">Update Task</button>
        </div>
      </form>
</div>
{% endblock body %}